<button
  data-module="progress-button"
  data-clicked-text-state-first="{{ params.firstTextState }}"
  data-clicked-text-state-second="{{ params.secondTextState }}"
  data-clicked-text-state-change="{{ params.secondsToWaitForSecondTextState }}"
  data-accessiblity-update-text="{{ params.accessibilityChangeText }}"
  class="govuk-button govuk-button--progress">
  <span class="govuk-button__icon"><span class="govuk-button__update govuk-visually-hidden"></span><span class="govuk-button__visible-text">{{ params.initialButtonText }}</span></span>
</button>
