{% extends "govuk/template.njk" %}
{% set assetPath = "public" %}
{% block head %}
 <link href="/public/stylesheets/application.css" rel="stylesheet">
{% endblock %}

{% block content %}

{% from "govuk/components/accordion/macro.njk" import govukAccordion %}

{#
{{ govukAccordion({
  id: "accordion-default",
  items: [
    {
      heading: {
        text: "Writing well for the web"
      },
      content: {
        html: "<p class='govuk-body'>This is the content for Writing well for the web.</p>"
      }
    }
  ]
}) }}

#}

               <h1 class="govuk-heading-l">The progress button</h1>
    <h2 class="govuk-heading-m">Version 2</h2>
    <p class="govuk-body">There is <a href="https://github.com/alphagov/di-ipv-cri-fraud-front/pull/308">a PR for the code related to this button in the fraud repo</a>.</p>

    {# this button is progressively enhanced by the JavaScript code below
    {{ hmpoSubmit(ctx, {id: "continue", attributes:{"aria-describedby":"screen-reader-status"}, html: '<span class="visual-message">'+translate("buttons.next")+'</span>' }) }}  #}


    <button name="continue" class="govuk-button button" data-module="govuk-button" id="continue" aria-describedby="screen-reader-status" data-status-message-initial-visible="Please wait" data-status-message-update-visible="Still checking – do not close or refresh this page" data-status-message-initial-screen-reader="Please wait while we check your details" data-status-message-update-screen-reader="Still checking – do not close or refresh this page">
        <span class="visual-message">Continue</span>
    </button>

    <h2 class="govuk-heading-m">Version 1</h2>
{% from "progress-button-v1/macro.njk" import govukProgressButton %}
{{ govukProgressButton({
    initialButtonText: "Continue",
    firstTextState: "One moment…",
    secondTextState: "Still working…",
    secondsToWaitForSecondTextState: 6,
    accessibilityChangeText: "Button updated to"
    })
}}

{% endblock %}

{% block bodyEnd %}
    <script src="/public/js/all.js"></script>

    <script type="module">
        window.GOVUKFrontend.initAll();
        import ProgressButton from '/public/js/progress-button.mjs'
        const $progressButton = document.querySelectorAll('[data-module="progress-button"]');
        $progressButton.forEach(button=>{
            new ProgressButton(button).init()
        });
    </script>

    <script src="/public/js/progress-button-v2.js"></script>
{% endblock %}