{% extends "govuk/template.njk" %}
{% set assetPath = "public" %}
{% block head %}
 <link href="/public/stylesheets/application.css" rel="stylesheet">
{% endblock %}

{% block content %}

{% from "govuk/components/accordion/macro.njk" import govukAccordion %}

{#
{{ govukAccordion({
  id: "accordion-default",
  items: [
    {
      heading: {
        text: "Writing well for the web"
      },
      content: {
        html: "<p class='govuk-body'>This is the content for Writing well for the web.</p>"
      }
    }
  ]
}) }}

#}

               <h1 class="govuk-heading-l">The progress button</h1>
{% from "progress-button/macro.njk" import govukProgressButton %}
{{ govukProgressButton({
    initialButtonText: "Continue",
    firstTextState: "One moment…",
    secondTextState: "Still working…",
    secondsToWaitForSecondTextState: 6,
    accessibilityChangeText: "Button updated to"
    })
}}

{% endblock %}

{% block bodyEnd %}
    <script src="/public/js/all.js"></script>

    <script type="module">
        window.GOVUKFrontend.initAll();
        import ProgressButton from '/public/js/progress-button.mjs'
        const $progressButton = document.querySelectorAll('[data-module="progress-button"]');
        $progressButton.forEach(button=>{
            new ProgressButton(button).init()
        });
    </script>
{% endblock %}